<h4>Log in</h4>

<form method="POST" action="/user/login">
    <a href='/'>Home</a> <br>
        <label for="email">Email</label>
        <input type="text" name="email">
        <label > password</label>
        <input type="password" name="password">
        <input type="Submit">
</form>